streamlit==1.35.0
google-generativeai==0.7.2
moviepy==1.0.3
imageio==2.34.1
imageio-ffmpeg==0.5.1
numpy==1.26.4
pillow==10.3.0
requests==2.32.3
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
proglog==0.1.10
decorator==4.4.2
tqdm==4.66.4
